.TodoListItem {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  border-radius: 8px;
  text-align: left;

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
      border-radius: 16px !important;
    }
  }

  &__secondaryDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
  }

  &__time {

  }

  &__progress {

  }
}
